@import '~leaflet/dist/leaflet.css';

/* Styles pour la carte */
#map {
  height: 600px; /* Ajustez la hauteur selon vos besoins */
  border-style: double;
  background-color: aqua;
}

/* Styles pour les champs du formulaire */
h1{
  text-align: center;
  color: #1515d5;
  
}